body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
  background-color: #9900ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #ffffff;
}
#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid #020845;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
}

#game-container .fondo{
  width: 100%;
  height: 100%;
}

.personaje {
  position: absolute;
  width: 100px;
  height: 100px;
}

.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
}

#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}